@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  cursor: pointer;
}

.navbarBg {
  background-color: rgb(18,19,19, 1);
}

.transisihover{
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  transition: ease-in-out 0.2s;
}

.transisihover:hover{
  top: -2px;
  left: -2px;
  transition: ease-in-out 0.2s;
  outline: none;
  box-shadow: 4px 4px 0 0;
}

.hoverGan {
  position: relative;
}

.iconHover {
  transition: ease-in-out 0.2s;
  position: relative;
  top: 0;
}

.iconHover:hover {
  transition: ease-in-out 0.2s;
  top: -5px;
}

.hoverGan::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #03D7BE;
  transition: ease-in-out 0.2s  ;
}

.hoverGan:hover:after {
  width: 100%;
  transition: ease-in-out 0.2s;
}

